@use "../../variables";

.video-gallery {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.gallery-row {
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 2vh;
    margin-top: 2vh;
    gap: 0 5vw;
}

.gallery-item {
    height: 45vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.gallery-item>h3 {
    margin-top: 0.5rem;
}

.flex-col-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.flex-col-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.row-spacer {
    height: 10vh;
}

.row-spacer-big {
    height: 25vh;
}

.vertical-item-layout {
    height: 80%;
}

.left-caption {
    text-align: left;
    margin-left: 5px;
    margin-bottom: 10px;
}

.right-caption {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 7px;
}

.media-card {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    // height: 100%; /* This makes it fill the available height */
    // max-height: 30vh; /* Additional safety constraint */
}

.media-card video,
img {
    object-fit: contain;
    // width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.gallery-description {
    margin-top: 0.5rem;
    width: 70%;
    text-align: left;
}