@use '../../variables';

.about-page {
    min-height: 80vh;
    margin: 10vh 15vw 10vh 15vw; // top r bot left
}

.about-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 0 10vw;
    gap: 10%;
}

.about-row {
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

.about-image {
    max-height: 37vh;
    border-radius: 10%;
    border: 2px solid variables.$color-accent2;
    transition: box-shadow 0.7s, transform 1s;
}

.about-image:hover {
    box-shadow: 5px 10px variables.$color-accent;
    transform: translate(-3px, -10px);
}

.about-text {
}