@use '../../variables';

.about-page {
    height: 100vh;
    margin: 10vh 15vw 10vh 15vw; // top r bot left
}

.about-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 5vw;
    gap: 5%;
}

.about-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 5%;
}

.about-image {
    max-height: 37vh;
    border-radius: 10%;
    border: 2px solid variables.$color-accent2;
    transition: box-shadow 0.7s, transform 1s;
}

.about-image:hover {
    box-shadow: 5px 10px variables.$color-accent;
    transform: translate(-3px, -10px);
}

.about-text {
    width: 35vw;
}

@media (max-width: 768px) {
    .about-row {
        flex-wrap: wrap;
    }
}