{
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 80,
        "tabWidth": 2
      }
    }
  ]
}