// Brown and Paper
// $color-back: #FAF7F0;
// $color-shade: #D8D2C2;
// $color-accent: #B17457;
// $color-border: #2C1811;
// $color-text: #4A4947;

// Blue and Orange
$color-main: #010810;
$color-main2: #219EBC;
$color-accent: #FB8500;
$color-accent2: #FFB703;
$color-text: #E8EEF1;
$color-text-alt: black;

// $color-planet: #ff7700;
$color-planet: #FB8500;
$color-moons: #FFB703;

// FIXME: currently not working
$font: 'Varela';