@use "variables";


body {
    background-color: variables.$color-main;
    color: variables.$color-text;
    font-family: variables.$font;
}

a {
    color: inherit;
}

.text-center {
    text-align: center;
}

.page {
    min-height: 100vh;
    padding: 10vh 15vw 10vh 15vw; // top r bot left
}

.page-title {
    margin-bottom: 15px;
}

.h-center {
    display: flex;
    justify-content: center;
}

.floating-box-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.floating-box-container > div {
    width: 100%;
}

// Font sizes
.title {
    font-size: clamp(7rem, 3vw, 12rem);
    line-height: 0.8;
}

.subtitle {
    font-size: clamp(3rem, 2.5vw, 6rem);
}


h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: lighter;
}

h2 {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}

h3 {
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
}

.nav-font {
    font-size: clamp(1.5rem, 2.5vw, 1.8rem);
}

body {
    font-size: clamp(1rem, 1vw, 1.1rem);
}