@use "variables";

body {
    background-color: variables.$color-main;
    color: variables.$color-text;
    font-family: variables.$font;
}

a {
    color: inherit;
}

.text-center {
    text-align: center;
}

.page {
    min-height: 100vh;
    padding: 10vh 15vw 10vh 15vw; // top r bot left
}

.page-title {
    margin-bottom: 15px;
}

.h-center {
    display: flex;
    justify-content: center;
}

.floating-box-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.floating-box-container>div {
    width: 100%;
}

// Font sizes

// Title and subtitle font sizes should maintain a ratio of 28 : 11
.title {
    font-size: max(0.2vw * 28, 0.1rem * 28);
    // font-size: clamp(7rem, 3vw, 12rem);
    line-height: 0.8;
}

.subtitle {
    // font-size: clamp(3rem, 2.5vw, 6rem);
    font-size: max(0.2vw * 11, 0.1rem * 11);
}

h1 {
    font-size: clamp(2rem, 1.5rem + 1.2vw, 3rem);
    font-weight: lighter;
}

h2 {
    font-size: clamp(1.5rem, 1.3rem + 1.1vw, 1.7rem);
}

h3 {
    font-size: clamp(1.3rem, 1.1rem + 1.1vw, 1.5rem);
}

.nav-font {
    font-size: clamp(1.5rem, 2.5vw, 1.8rem);
}

body {
    font-size: clamp(1.2rem, 1rem + 1vw, 1.3rem);
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: clamp(1.5rem, 1.2rem + 1.2vw, 2.3rem);
        font-weight: lighter;
    }

    h2 {
        font-size: clamp(1.2rem, 0.9rem + 1.3vw, 1.4rem);
    }

    h3 {
        font-size: clamp(1.1rem, 0.9rem + 1.1vw, 1.3rem);
    }

    .nav-font {
        font-size: clamp(1rem, 2.25vw, 1.3rem);
    }

    body {
        font-size: clamp(0.8rem, 0.6rem + 1vw, 1.2rem);
    }
}