@use "variables";


body {
    background-color: variables.$color-main;
    color: variables.$color-text;
    font-family: variables.$font;
}

a {
    color: inherit;
}

.text-center {
    text-align: center;
}

.page {
    min-height: 100vh;
    padding: 10vh 15vw 10vh 15vw; // top r bot left
}

.page-title {
    margin-bottom: 15px;
}

.h-center {
    display: flex;
    justify-content: center;
}

.floating-box-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.floating-box-container > div {
    width: 100%;
}

// Font sizes

// Title and subtitle font sizes should maintain a ratio of 28 : 11
.title {
    font-size: max(0.2vw * 28, 0.1rem * 28);
    // font-size: clamp(7rem, 3vw, 12rem);
    line-height: 0.8;
}

.subtitle {
    // font-size: clamp(3rem, 2.5vw, 6rem);
    font-size: max(0.2vw * 11, 0.1rem * 11);
}


h1 {
    font-size: min(3vw, 7rem);
}

h2 {
    font-size: min(2vmin, 5rem);
}

h3 {
    font-size: min(2vmax, 2.5rem);
}

.nav-font {
    font-size: min(2vmax, 3rem);
}

body {
    font-size: min(1.8vmin, 2rem);
}